/* top menu */

nav{
  position: absolute;
  height: 4rem !important;
}

.left-menu-brand{
  color: white;
}

.main-logo {
  margin-right: 0.5rem;
  color: #26ff93;
}

.main-title {
  margin-right: 1rem;
}


/* top menu */

/* sidebar */

.ui.vertical.menu.sidebar-menu {
  width: auto;
  margin-top: 4rem !important;
  max-height: calc(100vh - 8rem) !important;
  height: calc(100vh - 4rem) !important;
  background-color: rgba(0,0,0,.25);
}

@media (min-width:768px) {
  .ui.vertical.menu.sidebar-menu{
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  .main-content{
    margin-left: 15rem;
  }
  .sidebar-menu-toggler{
    display: none !important;
  }
}

/* sidebar */

/* main content window */

.main-content{
  margin-top: 4rem;
  margin-bottom: 4rem;
  min-height: 100vh;
}

body, body.pushable > .pusher{  
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
}

/* main content window */

/* footer menu */

footer, .playback-controls{
  margin-top: 1rem;
  height: 4rem;
  position: absolute;
}

/* footer menu */