.ui.vertical.menu.sidebar-menu {
  margin-top: 40px !important;
  max-height: calc(100% - 40px) !important;
  height: calc(100% - 40px) !important;
  z-index: -1;
}

@media (min-width:768px) {
  .ui.vertical.menu.sidebar-menu{
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  .main-content{
    margin-left: 15rem;
  }
  .sidebar-menu-toggler{
    display: none !important;
  }
}

.main-content{
  margin-top: 40px;
}

.left-menu-brand{
  color: white;
}

body{
  background-color: #303030;
}

.grid-background{
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.playback-controls{
  position: absolute;
  z-index: 0;
}
